body {
    font-family: Arial, sans-serif;
    background: linear-gradient(white,grey);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background: #fff;
    padding: 20px;
    border-radius: 18px;
    width: 260px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

#display {
    width: 93%;s
    height: 50px;
    font-size: 22px;
    text-align: right;
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #f2f2f2;
}

.operator {
    background: #6c7cf4;
    color: white;
}

.clear {
    background: #e63946;
    color: white;
    grid-column: span 3;
}

.equal {
    background: #2ecc71;
    color: white;
    grid-column: span 2;
}

button:hover {
    opacity: 0.9;
}
